<header>
    <nav>
        <ul>
            <li style="float: left; ">
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li style="display: inline;">
                        <a routerLink="/home" style="color: white; font-weight: bold">Home</a>
                    </li>

                    <li style="display: inline;">
                        <a routerLink="/aboutus" style="color: white; font-weight: bold">About Us</a>
                    </li>
                </ul>
            </li>
            <li style="float: right; ">
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li style="display: inline;">
                        <a routerLink="/signup" style="color: white; font-weight: bold">Sign Up</a>
                    </li>
                    <li style="display: inline; font-weight: bold; font-size: larger; color: white"></li>

                    <li style="display: inline;">
                        <a routerLink="/login" style="color: white; font-weight: bold">Login</a>
                    </li>
                    <li style="display: inline; font-weight: bold; font-size: larger; color: white"></li>




                </ul>
            </li>
        </ul>
    </nav>
</header>
